$accent: #ff6838;
$dark: #31352b;
$white: #fff;
$silver: #ececec;
$blue: #363853;
$main: #f9faff;
$grey: #c2c2c2;

%bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}
